{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Fichiers par utilisateur{% endblock %}


{% block body %}

    <div class="container-fluid">
        <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Liste des fichiers</h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
                <div class="table-responsive">
                    <table class="table table-hover">
                        {% for user in users %}
                            <tr>
                                <td class="text-white bg-secondary">{{user.surname | upper}} {{user.name | capitalize }}</td>
                            </tr>
                            {% if user.files | length > 0 %}
                                {% for file in user.files %}
                                    <tr>
                                        <td class="text-center">
                                            <fieldset>
                                                <legend><a href="{{path('app_download',{'id':file.id})}}" style="text-decoration: none">{{file.originalName}}</a></legend>
                                                <ul style="list-style: none">
                                                    {% for s in file.subcategories %}
                                                        <li>{{s.number}}) {{s.label | capitalize}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </fieldset>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-center">Aucun fichier</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}