<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Share - {% endblock %}</title>

        {% block stylesheets %}
            <link href="https://bootswatch.com/5/united/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{path('app_home')}}">Share</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <!-- <li class="nav-item">
                    <a class="nav-link active" href="{{path('app_home')}}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                    </li>-->
                    <li class="nav-item">
                    <a class="nav-link" href="{{path('app_contact')}}">Contact</a>
                    </li>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                        <a class="nav-link" href="{{path('app_about')}}">À propos</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{path('app_legal')}}">Mentions légales</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_account', {'id':app.user.id})}}">Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_files_by_user')}}">Fichiers par utilisateur</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Légal</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{path('app_about')}}">À propos</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{path('app_legal')}}">Mentions légales</a>
                            </div>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MOD') %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mod</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('app_contacts')}}">Liste contacts</a>
                            <a class="dropdown-item" href="{{path('app_categories')}}">Liste catégories</a>
                            <a class="dropdown-item" href="{{path('app_add_category')}}">Ajout catégorie</a>
                            <a class="dropdown-item" href="{{path('app_add_subcategory')}}">Ajout sous-catégorie</a>
                        </div>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN')%}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path('app_users')}}">Liste utilisateurs</a>
                            <a class="dropdown-item" href="{{path('app_add_file')}}">Ajout fichier</a>
                            <a class="dropdown-item" href="{{path('app_files')}}">Liste fichiers</a>
                        </div>
                        </li>
                    {% endif %}
                </ul>


                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav me-auto">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_register')}}">S'inscrire</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_logout')}}"> {{app.user.email}} <i class="bibi-x-circle-fill"></i> </a>
                        </li>
                    {% endif %}
                </ul>


                </div>
            </div>
        </nav>

        {% for message in app.flashes('notice') %}
            <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
                {{ message }}
            </h2>
        {% endfor %}

        {% block body %}
            Share 
        {% endblock %}
    </body>
</html>
