{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Ajouter un ami
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<style>
		#add_friend_email {
			text-align: center;
			width: 50%;
		}
		.custom-center {
			display: flex;
			justify-content: center;
			margin-bottom: 1rem;
		}
	</style>
{% endblock %}

{% block body %}
	<div cass='container-fuid'>
		<h1 class="text-center text-primary mt-4 pt-4 fw-bold">Amis</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 bg-white p-4 m-0 text-primary">
				{{form_start(form)}}
				<div class="custom-center">
					{{form_widget(form.email)}}
				</div>
				{{form_end(form)}}
			</div>
			<div class="col-6 col-md-6 bg-white p-4 m-0 text-primary text-center" style="border-right: 2px solid #158cba;">
				<span class="fw-bold text-center">Demandes reçues</span>
				{% if app.user.usersAsk | length > 0 %}
					{% for d in app.user.usersAsk %}
						<div class="list-group m-2">
							<div class="list-group-item list-group-item-action bg-secondary" aria-current="true">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">{{d.email}}</h5>
									<a href="{{path('app_friends',{'idAccept':d.id})}}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Accepter</a>
									<a href="{{path('app_friends',{'idDecline':d.id})}}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Refuser</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="col-6 col-md-6 bg-white p-4 m-0 text-primary text-center">
				<span class="fw-bold text-center m-4 p-4">Remandes envoyées</span>
				{% if app.user.ask | length > 0 %}
					{% for d in app.user.ask %}
						<div class="list-group m-2">
							<div class="list-group-item list-group-item-action bg-secondary" aria-current="true">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-1">{{d.email}}</h5>
									<a href="{{path('app_friends',{'id':d.id})}}" class="btn btn-success btn-sm" tabindex="-1" role="button" aria-disabled="true">Annuler</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="col-6 col-md-6 bg-white p-4 m-0 text-primary text-center">
				<h2 class="fw-bold text-center m-4 p-4">Vos amis</h2>
				{% if app.user.accept | length > 0 %}
					{% for a in app.user.accept %}
						<div class="list-group m-2">
							<div class="list-group-item list-group-item-action bg-secondary" aria-current="true">
								<div class="d-flex w-100 justify-content-between">
									<span class="mb-1">{{a.surname | upper}} {{a.name | capitalize}}</span><span><i class="bi bi-person"></i></span>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
