{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}Liste des utilisateurs
{% endblock %}

{% block body %}


	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Liste des utilisateurs</h1>

		<div class="row justify-content-center">
			<div class="col-12 col-md-8 bg-white p-4 m-0 text-primary">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr class="fw-bold text-primary">
								<th scope="col">Email</th>
								<th scope="col">Prénom</th>
								<th scope="col">Nom</th>
								<th scope="col">Date d'inscription</th>
								<th scope="col">Rôle</th>
								<th scope="col">Fichiers</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users | sort((a, b) => b.registrationDate <=> a.registrationDate) %}
								<tr class="{{ cycle(['table-primary','table-secondary'], loop.index0) }}">
									<td>{{ user.email | lower }}</td>
									<td>{{ user.name | capitalize }}</td>
									<td>{{ user.surname | upper }}</td>
									<td>{{ user.registrationDate | date("d-m-Y à H:i:s") }}</td>
									{% if "ROLE_ADMIN" in user.roles %}
										<td>Administrateur</td>
									{% elseif "ROLE_MOD" in user.roles %}
										<td>Modérateur</td>
									{% else %}
										<td>Utilisateur</td>
									{% endif %}
									<td>{{ user.files | length }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
